.lead__image {
	max-width: 984px;
	margin: 0 100px 8px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
	.lead__image {
		max-width: 928px;
		margin: 0 48px 8px;
	}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
	.lead__image {
		max-width: 768px;
		margin: 0 0 8px;
	}
}

@media screen and (max-width: 767px) {
	.lead__image {
		max-width: 320px;
		margin: 0 0 8px;
	}
}