.cover__title {
	margin: 0 auto;
	font-weight: 900;
	max-width: 540px;
	font-size: 72px;
	line-height: 76px;
	position: relative;
	z-index: 1;
}

.cover__title:hover {
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.cover__title {
		font-size: 32px;
		line-height: 35px;
	}
}